@{
    ViewBag.Title = ViewBag.LayoutViewModel;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}
    <div class="form-group col-md-12 no-padding d-none d-md-block">
        <button type="button" class="btn btn-success col-md-2" onclick="window.location.href = '@Url.Action("Create",controller)'">New</button>
        <button type="button" class="btn btn-primary col-md-2" onclick="window.location.href = '@Url.Action("Edit",controller)'">Edit</button>
        <button type="button" class="btn btn-danger col-md-2" onclick="window.location.href = '@Url.Action("Delete",controller)'">Delete</button>
        <button type="button" class="btn btn-secondary col-md-2" onclick="window.location.href = '@Url.Action("Save",controller)'">Save</button>
    </div>
<br />
@RenderBody()

