@model JomMalaysia.Presentation.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<!--HEADER-->
<div class="form-group col-md-12 no-padding d-none d-md-block">
    <button type="button" class="btn btn-success col-md-2" onclick="$('#btnSubmit').click()">New</button>
    <button type="button" class="btn btn-primary col-md-2" onclick="window.location.href = '@Url.Action("Edit","Category")'">Edit</button>
    <button type="button" class="btn btn-danger col-md-2" onclick="window.location.href = '@Url.Action("Delete","Category")'">Delete</button>
    <button type="button" class="btn btn-secondary col-md-2" onclick="window.location.href = '@Url.Action("Publish","Category")'">Publish</button>
</div>
<div class="form-group col-md-12 no-padding d-sm-block d-md-none">
    <div class="btn-group col-sm-12 no-padding" role="group">
        <button type="button" class="btn btn-primary">Action</button>
        <div id="dropdown-action-button" class="dropdown-menu col-sm-12" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="display:none; position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" onclick="$('#btnSubmit').trigger( " click" )">Save</a>
            <a class="dropdown-item" onclick="window.location.href = '@Url.Action("Delete","Category")'">Cancel</a>
        </div>
        <div id="action-button" class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        </div>
    </div>
</div>
<!--END OF HEADER-->

<form asp-action="Create" class="form-m-gap-top">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.categoryId)</div>
        <div class="col-sm-10 col-md-6">
            @Html.TextBoxFor(m => m.categoryId, new { @class = "form-control" })
            @*<input type="text" class="form-control" id="txtSSMID" placeholder="Enter SSM ID">*@
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.categoryName)</div>
        <div class="col-sm-10 col-md-6">
            @Html.TextBoxFor(m => m.categoryName, new { @class = "form-control" })
            @*<input type="text" class="form-control" id="txtSSMID" placeholder="Enter SSM ID">*@
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.categoryNameMs)</div>
        <div class="col-sm-10 col-md-6">
            @Html.TextBoxFor(m => m.categoryNameMs, new { @class = "form-control" })
            @*<input type="text" class="form-control" id="txtSSMID" placeholder="Enter SSM ID">*@
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.categoryNameZh)</div>
        <div class="col-sm-10 col-md-6">
            @Html.TextBoxFor(m => m.categoryNameZh, new { @class = "form-control" })
            @*<input type="text" class="form-control" id="txtSSMID" placeholder="Enter SSM ID">*@
        </div>
    </div>
    <button id="new-subcategory" type="button" class="btn btn-success col-md-2">New SubCategory</button>
    <div class="col-md-12 col-sm-12 no-padding" style="overflow-x:auto !important" ;">
        <table class="table table-hover tb-subcategory">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Sub Category ID</th>
                    <th scope="col">Sub Category Name</th>
                    <th scope="col">Sub Category Name Ms</th>
                    <th scope="col">Sub Category Name Zh</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="subcategory-0">
                    @*https://stackoverflow.com/questions/38929009/how-to-bind-an-array-in-mvc-core
                        https://fildev.net/2017/05/14/send-array-from-view-to-controller-as-class-asp-net-core/*@
                    <td>@Html.TextBoxFor(m => m.lstSubCategory[0].categoryId, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.lstSubCategory[0].categoryName, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.lstSubCategory[0].categoryNameMs, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.lstSubCategory[0].categoryNameZh, new { @class = "form-control" })</td>
                    <td>@Html.HiddenFor(m => m.lstSubCategory[0].isDeleted, new { @class = "form-control" })</td>
                    @*<td><input type="text" id="subcategoryID-0" class="form-control" /></td>
                        <td><input type="text" id="subcategoryName-0" class="form-control" /></td>
                        <td><input type="text" id="subcategoryNameMs-0" class="form-control" /></td>*@
                    <td><button id="delete-subcategory" type="button" class="btn btn-danger invisible isDelete">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button id="btnSubmit" type="submit" class="d-none"></button>
</form>

<div>
    <a class="d-flex justify-content-end" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
